* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* 
.listStyle {
  padding: 10px;
  margin: 10px 20px;
  border-radius: 1rem;
  background-color: #9747ff;
  color: cyan;
  font-weight: 800;
}

.listStyle:hover {
  background-color: #ea9dff;
  columns: #9747ff;
} */